html, body{
  height: 100%;
  margin: 0;
}
#fullpage{
  height: 100%;
}
.section{
  height: 100%;
}

ul{
  position: relative;
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;

  list-style: none;

}

#intro li, #workdetails li{
  width: 33%;
  height: 100%;
  padding: 0;
  float:left;

  text-align: center;
  border: 1px solid red;
}

#workdetails{
  overflow: hidden;
}
#intro li div {
  position: absolute;
  top: 50%;
  width: 33%;
  /* left: 13% */

  /* justify-content: center; */
}
